/* autohide file explorer icons 
original by https://github.com/t-if */

.nav-buttons-container {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}
.nav-buttons-container:hover {
    opacity: 1;
    transition-delay: 0ms;
}