/* based on snippets by 74: https://discord.com/channels/686053708261228577/744933215063638183/1265419934595551233 */

/* suggestion styling */
.suggestion-container,
.popover,
.prompt,
.menu,
.suggestion-container.mod-search-suggestion {
  background-color: var(--workspace-background-translucent);
  backdrop-filter: blur(3px) saturate(190%) contrast(50%) brightness(130%);
}

.suggestion-container.mod-search-suggestion .suggestion {
  background-color: transparent;
}

/* modal */ 
.modal {
    opacity: 0.85; 
    border: 0px;
  }

  /* command palette */
  .prompt {
    opacity: 0.85;
  }

  /* menu */
  .menu {
    opacity: 0.85;
    border: 0px;
  }
