/* ------ focus mode ------ */
.nav-buttons-container, .view-actions, .workspace-tab-header-inner, .side-dock-settings, .side-dock-actions {
    opacity: 1;
}
/* --- hide buttons --- */
.hide-buttons.classic-layout {
    --border-width: 0px;
}
.hide-buttons .view-actions, .hide-buttons .side-dock-settings, .hide-buttons .side-dock-actions, .hide-buttons .sidebar-toggle-button {
    opacity: 0;
}
.hide-buttons .view-actions:hover, .hide-buttons .side-dock-settings:hover, .hide-buttons .side-dock-actions:hover, .sidebar-toggle-button:hover {
    opacity: 1;
    transition: opacity .15s ease-in-out;
    transition-delay: 0ms;
}
/* --- hide titlebar --- */

.hide-titlebar .view-header {
 opacity: 0;
height: 1px;
transition: height 0.1s, opacity 0.25s;
}
.hide-titlebar .view-header:hover {
    opacity: 1;
   height:var(--header-height);
}

/* --- hide scrollbars --- */
.hide-scrollbars {
    --scrollbar-active-thumb-bg: transparent;
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: transparent;
}

/* --- hide tabs --- */
.hide-tabs .workspace-tab-header-container {
    opacity: 0;
}

.hide-tabs .workspace-tab-header-container:hover {
    opacity: 1;
    transition: opacity .23s ease-in-out;
    transition-delay: 0ms;
}